*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    /* Remover bolinhas embaixo dos links */
    text-decoration: none;
}
body{
    background-color: #000;
    color: #eee;
    font-size: 30px;
}
header{
    width: 80%;
    height: 50px;
    /* display flex deixou os links um do lado do outro e alinhou ao centro */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    /* desgrudou os links do canto da tela */
    margin: auto;
}

header a{
    color: #eee;
    /* deu uma margem dos links (eles não ficaram um grudado no outro) */
    margin-right: 40px;
    font-weight: 300;
}

.container{
    /* essas duas propriedades ocupam a tela inteira  */
    height: 100vh;
    width: 100vw;
    /* empurrou o header para cima o container ficou junto com header */
    margin-top: -50px;
    /* sumir com o scroll do mouse */
    overflow: hidden;
}

.container .list .list-item{
    width: 100%;
    height: 100%;
    position: absolute;
}
.container .list .list-item img{
    /* fez com que a imagem se encaixasse na tela certinho e não estourasse*/
    object-fit: cover;
    /* alterando o tamanho ds imagens */
    width: 100%;
    height: 100%;
    /* efeito para deixar a imagem mais escura */
    filter: brightness(50%);
}
.container .list .list-item .content{
    /* ficar onde eu quero exatamente que ele fique */
    position: absolute;
    /* fez o texto descer */
    top: 20%;
    /* essas 3 propriedades criaram uma margem na direta do texto  */
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eee;
    box-shadow:0 5px 10px #0004;

}
.container .list .list-item .content .titulo{
    font-size: 4em;
    font-weight: 700;
    line-height: 1.3em;
}
.container .list .list-item .content .descricao{
    font-size: 1.5em;
}

.container .list .list-item .content .buttons{
    /* colunas (um botão embaixo do outro) */
    display: grid; 
    /* colocou os botões um ao lado do outro e cada um teve 130px */
    grid-template-columns: repeat(2,130px);
    /* esticou os botões */
    grid-template-rows: 40px;
    margin-top: 20px;
    gap: 5px;
}

.container .list .list-item .content .buttons button{
    border: none;
    background-color: #eee;
    /* distância entre as letras */
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    /* todas as letras maiúsculas */
    text-transform: uppercase;
}

.container .list .list-item .content .buttons button:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s ease-in-out;
}

.container .list .list-item .content .buttons button:nth-child(2):hover{
    background-color: #eee;
    color: #000;
    transition: 0.7s ease-in-out;
}




/* escolher um botão especifico sem uma classse atribuida */
/* :nth-child(2) selecionou o 2 botão */
.container .list .list-item .content .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}


/* THUMBS E BUTTONS  */
.thumb{
    position: absolute;
    /* colocou o card das imagens lá para baixo */
    bottom: 50px;
    /* colocou as imagens no canto direito da tela */
    left: 50%;
    /* uma imagem ao lado da outra */
    display: flex;
    /* espaço entre as imagens */
    gap: 80px;
}

.thumb-item{
    width: 135px;
    height: 200px;
    position: relative;

}

.thumb-item img{
    width: 100%;
    height: 100%;
    /* não distorcer a imagem */
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.cont{
    position: absolute;
    bottom: 10px;
    left: 10px;
}